name: Run Test Suite
on:
    push:
        branches: ["master"]
        paths-ignore:
            - "**.md"
            - ".github/**"
    pull_request:
        branches: ["master"]
        paths-ignore:
            - "**.md"
            - ".github/**"
    workflow_dispatch:
permissions:
    contents: read
jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: [8.1, 8.2, 8.3, 8.4]
        name: PHP ${{ matrix.php }}
        steps:
            - uses: actions/checkout@v4

            - name: Validate composer.json and composer.lock
              run: composer validate --strict

            - name: Install dependencies
              run: composer install --prefer-dist --no-progress

            - name: Run test suite
              run: composer run-script test
